<ion-view view-title="Login" name="login-view" ng-init="connect()">

  <ion-header-bar class="bar-dark" style="background:#3F51B5;">
        <div class="buttons">
            <button class="button button-icon ion-chevron-left" ng-click="goHome()"></button>
        </div>
        <h1 class="title" style="color:#fff;">SARA Info center</h1>
  </ion-header-bar>


  <ion-content class="padding">


  <div class="list">

      <div class="card" style="border-left: 3px solid #FF6F00;border-top: 1px solid #FF6F00;"> 
          <img src="img/30points.png" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px" />
          <p style="padding:25px;font-size:15px;color:#b34d00">Each survey and active task is worth <b>30</b> points.</p>
      </div>

      <div class="card" style="border-left: 3px solid #4A148C;border-top: 1px solid #4A148C;"> 
          <img src="img/50points.png" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px" />
          <p style="padding:25px;font-size:15px;color:#7B1FA2">Sunday's survey is longer, but you can earn <b>50</b> extra points.</p>
      </div>

      <div class="card" style="border-left: 3px solid #4E342E;border-top: 1px solid #4E342E;"> 
          <img src="img/clown_help.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:20px" />
          <p style="padding:25px;font-size:15px;color:#4E342E">More points mean more <b>fishes</b> in the aquarium</p>
      </div>

      <div class="card" style="border-left: 3px solid #1A237E;border-top: 1px solid #1A237E;"> 
          <img src="img/blue.png" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px" />
          <p style="padding:25px;font-size:15px;color:#303F9F"><b>Badges</b> are unlocked when surveys/active tasks are completed on consecutive days</p>
      </div>

      <div class="card" style="border-left: 3px solid #263238;border-top: 1px solid #263238;"> 
          <img src="img/50cent.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px" />
          <p style="padding:25px;font-size:15px;color:#37474F">Each <b>badge</b> also comes with some <b>money</b></p>
      </div>

      <div class="card" style="border-left: 3px solid #263238;border-top: 1px solid #263238;"> 
          <img src="img/18_Rev.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px;margin-bottom:0px;" />
          <p style="padding:15px;font-size:15px;color:#5a2d0c">Longer <b>streaks</b> give higher<br>financial incentives<br></b></p>
          <ul style="padding-left:100px;margin-top:1px;">
              <li style="height:20px;color:#5a2d0c;">&bull; 3-day streak gives 25 cents</li>
              <li style="height:20px;color:#5a2d0c;">&bull; 6-day streak gives 50 cents</li>
              <li style="height:20px;color:#5a2d0c;">&bull; 12-day streak gives 1 dollars</li>
              <li style="height:20px;color:#5a2d0c;">&bull; 18-day streak gives 1.5 dollars</li>
              <li style="height:20px;color:#5a2d0c;">&bull; 30-day streak gives 2.5 dollars</li>
              <li style="height:15px;"></li>
          </ul>
          <br><p style="padding:10px;font-size: 12px;line-height:15px;color:#5a2d0c;">Streaks for surveys and active tasks are separate. So, if you complete 3-day streaks on both survey and active tasks then you will get 50 cents.<p>
      </div>

      <div class="card"  style="border-left: 2px solid #263238;border-top: 1px solid #AD1457;"> 
          <p style="padding:15px;font-size:15px;color:#AD1457">Sometimes you will get <b>memes</b> after you complete the <b>surveys</b></p>
          <div class="item item-image" style="border: 0px solid #4E342E;">
              <img src="img/reinforcements/memes/HM1.png" style="padding:20px;padding-top:5px;">
          </div>

      </div>


      <div class="card" style="border-left: 2px solid #263238;border-top: 1px solid #263238;"> 
          <p style="padding:15px;font-size:15px;color:#37474F">Sometimes you will get <b>insights</b> on your collected data after you complete your <b>active tasks</b></p>
          <div class="item item-image" style="border: 0px solid #4E342E;">
              <img src="img/insight_help.png" style="padding:25px;padding-top:5px;">
          </div>

      </div>

  </div>

  
  
  <!--
  <img src="img/50cent.jpg" style="float:left;width:100px;padding:10px;padding-right:20px;padding-top:15px" />
  <img src="img/reinforcements/ken_hair.gif" alt="Smiley face" width="100%">
  <div id="chart1" style="width:100%;height:300px;">
  </div>
  <br>
  <br>
  <img src="img/reinforcements/devil_kid.jpg" alt="Smiley face" width="100%">
  -->

  </ion-content>
</ion-view>