<ion-view view-title="Login" name="login-view">

          <ion-header-bar class="bar-stable" style="background:#3F51B5;">
                <h1 class="title" style="color:#fff;">SARA</h1>
                <!--
                <div class="buttons">
                     <button class="button button-icon ion-person" style="color:#fff;" ng-click="showRegister()"></button>
                </div>
                -->
                <div class="buttons">
                     <button class="button button-icon ion-arrow-graph-up-right" style="color:#fff;" ng-click="showLifeInishgts()"></button>
                </div>
          </ion-header-bar>

          <ion-content >
              <!-- <button ng-click="startGame()">Click me</button> -->

              <div w3-test-directive></div>

              <div class="row">
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="addpoint(30)">DS+30</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="addpoint(50)">WS+50</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="addpoint(29)">AT+30</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="showRewarDemo()">R</button></div>
              </div>

              <div class="row">
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="changeLevel(1)">Aq 1</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="changeLevel(2)">Aq 2</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="changeLevel(3)">Sea 1</button></div>
                 <div class="col col-25"> <button class="button button-full button-positive" ng-click="changeLevel(4)">Sea 2</button></div>
              </div>

              <!--
              <button class="button button-full button-positive" ng-click="startGame()">Add points</button>
              <div class="list">

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/clownfish.png"  style="width:  75px;height: auto;margin: auto;">
                    <h2>The Clown Fish</h2>
                    <p>Point: 0</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/starfish.png"  style="width:  75px;height: auto;">
                    <h2>The Star Fishes</h2>
                    <p>Point: 50 </p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/octopus.png"  style="width:  75px;height: auto;">
                    <h2>The Octopus</h2>
                    <p>Point: 100 </p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/electricfish.png"  style="width:  75px;height: auto;">
                    <h2>The Electric Fish</h2>
                    <p>Point: 150</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/crabfish.png"  style="width:  75px;height: auto;">
                    <h2>The Crab</h2>
                    <p>Point: 200</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/greenfish.png"  style="width:  75px;height: auto;">
                    <h2>The Green Fish</h2>
                    <p>Point: 250</p>
                  </a>

                  
                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/seahorseyellow.png"  style="width:  auto;height: 100%;margin: auto;">
                    <h2>The Horse Fish</h2>
                    <p>Point: 300</p>
                  </a>

              </div>
              <button class="button button-full button-positive" ng-click="startDailySurvey()">Weekly Survey</button>
              <button class="button button-full button-positive" ng-click="startDailySurvey()">Active Tasks</button>
              -->

              

</ion-content>
</ion-view>