<ion-view view-title="Login" name="login-view" ng-init="connect()">

  <ion-header-bar class="bar-dark" style="background:#3F51B5;">
        <div class="buttons">
            <button class="button button-icon ion-chevron-left" ng-click="goHome()"></button>
        </div>
        <h1 class="title" style="color:#fff;">Spatial task</h1>
  </ion-header-bar>


  <ion-content class="padding">

  <center style="font-size: 14px;line-height: 25px;padding-bottom:10px;">Step 1 of 3</center>
  <br>
  <center style="font-size: 30px;line-height: 25px;padding-bottom:10px;">Spatial Memory</center>
  <br>
  <center style="font-size: 16px;line-height: 25px;padding-bottom:10px;">This activity measures your short-term spatial memory by asking you to repeat the order in which the sheels light up.</center>
  <center style="font-size: 30px;line-height: 25px;padding-bottom:10px;"><img src="img/spatialmemoryphoto1.png" width="50%"></center>

  <!--
  <img src="img/reinforcements/ken_hair.gif" alt="Smiley face" width="100%">
  <br>
  <br>
  <img src="img/reinforcements/devil_kid.jpg" alt="Smiley face" width="100%">
  -->

  </ion-content>

  <div class="bar bar-footer bar-positive">
      <div class="title" ng-click="goStep2()">Next</div>
  </div>
</ion-view>