<ion-view view-title="Login" name="login-view" ng-init="connect()">

  <ion-header-bar class="bar-dark" style="background:#3F51B5;">
        <div class="buttons">
            <button class="button button-icon ion-chevron-left" ng-click="goHome()"></button>
        </div>
        <h1 class="title" style="color:#fff;">Tapping task</h1>
  </ion-header-bar>


  <ion-content class="padding">

  <center style="font-size: 14px;line-height: 25px;padding-bottom:10px;">Step 2 of 3</center>
  <br>
  <center style="font-size: 30px;line-height: 25px;padding-bottom:10px;">Tapping Speed</center>
  <br>
  <center style="font-size: 16px;line-height: 20px;padding-bottom:10px;">Rest your phone on a flat surface. Two buttons will appear on the screen for 10 seconds. Using two fingers on the same had, take turns tapping the buttons as quickly as you can <br><br>Tap <b>get started</b> to begin</center>
  <center style="font-size: 30px;line-height: 25px;padding-bottom:10px;"><img src="img/tappingalternate.gif" width="70%"></center>

  <!--
  <img src="img/reinforcements/ken_hair.gif" alt="Smiley face" width="100%">
  <br>
  <br>
  <img src="img/reinforcements/devil_kid.jpg" alt="Smiley face" width="100%">
  -->

  </ion-content>

  <div class="bar bar-footer bar-positive">
      <div class="title" ng-click="goStep2()">Get started</div>
  </div>
</ion-view>