<ion-view view-title="Login" name="login-view" ng-init="connect()">

  <ion-header-bar class="bar-dark" style="background:#3F51B5;">
        <div class="buttons">
            <button class="button button-icon ion-chevron-left" ng-click="goHome()"></button>
        </div>
        <h1 class="title" style="color:#fff;">Tapping task</h1>
  </ion-header-bar>


  <ion-content class="padding">

  <center style="font-size: 4vw;line-height: 25px;padding-bottom:6vw;">Step 1 of 3</center>
  <center style="font-size: 10vw;line-height: 25px;padding-bottom:6vw;">Tapping Speed</center>
  <center style="font-size: 4vw;line-height: 25px;padding-bottom:4vw;">This task measures your tapping speed</center>
  <center style="font-size: 30px;line-height: 25px;padding-bottom:4vw;"><img src="img/tappingphoto1.png" width="50%"></center>

  <!--
  <img src="img/reinforcements/ken_hair.gif" alt="Smiley face" width="100%">
  <br>
  <br>
  <img src="img/reinforcements/devil_kid.jpg" alt="Smiley face" width="100%">
  -->

  </ion-content>

  <div class="bar bar-footer bar-positive">
      <div class="title" ng-click="goStep2()">Next</div>
  </div>
</ion-view>