<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <script src="js/phaser.min.js"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">



    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <script src="js/fishgame/Boot.js"></script>
    <script src="js/fishgame/Preloader.js"></script>
    <script src="js/fishgame/Game.js"></script>

    <!-- your app's js -->

    <script src="js/app.js"></script>


    <!--
    <script type="text/javascript" src="js/game/index.js"></script>
    <script type="text/javascript" src="js/game/game_controller.js"></script>
    <script type="text/javascript" src="js/mainmenu.js"></script>
    -->

  </head>


  <body ng-app="starter" ng-controller="MainCtrl">  

      <!--
        <div class="panel play" 
          ng-repeat="room in ctrl.rooms track by room.id"
          ui-sref='game.play({id: room.id})'>
          <span ng-bind="room.players.length"></span> Players
          <a ui-sref='game.play()'>Create a game</a>
        </div>
        <div id="gameCanvas"></div>
      -->

      <ion-view view-title="Login" name="login-view">

          <ion-header-bar class="bar-stable" style="background:#3F51B5;">
                <h1 class="title" style="color:#fff;">SARA</h1>
          </ion-header-bar>


          <ion-content class="padding">
              <!-- <button ng-click="startGame()">Click me</button> -->

              <div w3-test-directive></div>

              <button class="button button-full button-positive" ng-click="startGame()">Add points</button>
              <div class="list">

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/clownfish.png"  style="width:  75px;height: auto;margin: auto;">
                    <h2>The Clown Fish</h2>
                    <p>Point: 0</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/starfish.png"  style="width:  75px;height: auto;">
                    <h2>The Star Fishes</h2>
                    <p>Point: 50 </p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/octopus.png"  style="width:  75px;height: auto;">
                    <h2>The Octopus</h2>
                    <p>Point: 100 </p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/electricfish.png"  style="width:  75px;height: auto;">
                    <h2>The Electric Fish</h2>
                    <p>Point: 150</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/crabfish.png"  style="width:  75px;height: auto;">
                    <h2>The Crab</h2>
                    <p>Point: 200</p>
                  </a>

                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/greenfish.png"  style="width:  75px;height: auto;">
                    <h2>The Green Fish</h2>
                    <p>Point: 250</p>
                  </a>

                  <!-- https://jmsliu.com/products/sprite-sheet-decomposer/decomposer.php -->
                  <a class="item item-thumbnail-left" href="#">
                    <img src="img/seahorseyellow.png"  style="width:  auto;height: 100%;margin: auto;">
                    <h2>The Horse Fish</h2>
                    <p>Point: 250</p>
                  </a>

              </div>


              <!--
              <button class="button button-full button-positive" ng-click="startDailySurvey()">Weekly Survey</button>
              <button class="button button-full button-positive" ng-click="startDailySurvey()">Active Tasks</button>
              -->

        </ion-content>
      </ion-view>


    <!--
    <div id = "gameArea"></div>
    <div id = "ionicControls"  ng-app="starter">
        <ion-nav-view> Hello world!! </ion-nav-view>
    </div>
    -->
  </body>
</html>
